<div class="card card-location-container mr-4 mb-4">
  <img class="card-img-top px-4 pt-4" src="https://res.cloudinary.com/practicaldev/image/fetch/s--JHYuFoVp--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/83m4yly9qrkhf6p5p50e.jpg" alt="Location map">
  <div class="card-body">
    <h5 class="card-title mb-2">{{@office.name}}</h5>
    <p class="card-text mb-0">{{@office.street}}</p>
    <p class="card-text">{{@office.state}} {{@office.zip}}</p>
    <p class="card-text">{{@office.phone}}</p>
    <a href="#" class="btn btn-primary col-12">Select</a>
  </div>
</div>