<div class="col-3 p-3 h-100">
  <div class="sidebar">
    <div class="d-flex mb-3">
      <div class="rounded-pill step-number mr-2">
        1
      </div>
      <div>
        <div class="text-muted mb-1">CLINICIAN</div>
        <div class="text-primary">Rob Gross, MFT</div>
      </div>
    </div>
    <div class="d-flex mb-3">
      <div class="rounded-pill step-number mr-2 {{if @step2 "active"}}">
        2
      </div>
      <div>
        {{#if @service.description}}
          <div class="text-muted mb-1">SERVICE</div>
          <div class="text-primary">{{@service.description}}</div>
          <div class="text-primary">{{@service.duration}} minutes</div>
        {{else}}
        <div class="text-muted">SELECT A SERVICE</div>
        {{/if}}
      </div>
    </div>
    <div class="d-flex  {{unless @step3 "disabled"}}">
      <div class="rounded-pill step-number mr-2 {{if @step3 "active"}}">
        3
      </div>
      <div>
        <div class="text-muted">SELECT A LOCATION</div>
      </div>
    </div>
  </div>
</div>